@model IEnumerable<BookStoresWebAPI.ViewModels.BookWithAuthorVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using BookStoresWebAPI.Models.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="text-box">
	<h1>Book Overview</h1>
</div>
<td>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
					{
    <h3 style=" color: antiquewhite">
	    <strong>

	    Click to add a new book <a asp-action="Create" class="btn btn-primary">Create</a>
        </strong>
        </h3>
                    }
	</td>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Price</th>
            <th>Authors</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            
            <tr>

                <td>
                    <a asp-action="Detail" asp-route-id="@book.BookId">@book.Title</a>
                </td>
				<td>@book.Type</td>	
                <td>@book.Price?.ToString("0.00")</td>
				<td>@string.Join(", ", book.AuthorNames)</td>
                @*this part ensures only the admin can see and click the delete button*@

				<td>
					@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
					{
                    <a asp-action="Delete" asp-route-id="@book.BookId" class="btn btn-danger btn-sm">Delete</a>
					}
					
				</td>
                
                
            </tr>
        }
    </tbody>
	
    
</table>

